
body {
    font-family: 'Open Sans', sans-serif; 
}

#hero {
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    /* height: 75vh; */
}

.nav-link.active {
    font-weight: 800;
    text-decoration: underline;

}
.navbar-light .navbar-nav .nav-link {
    color:black;
    font-family: 'Roboto Slab';

}

#my-logo {
    max-width: 30%;
    height: auto;
  }

.navbar-expand-lg .navbar-nav li {
    padding: 10px;
}
nav {
    padding-left: 40px;
    padding-right: 40px;
}

.button {
    background-color: #79B6D5;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: white;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    width: 100px;
  }

  .button:hover {
      background-color: #5E6872;
  }

button {
    background-color: #79B6D5;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: white;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    width: 200px;
  }

  button:hover {
    background-color: #5E6872;
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    height:60%;
    width: 100%;

}

.jumbotron p {
    text-align: center;
    color: white;
    width: 100%;

}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-section {
    width: 100%;
}

.jumbotron h1 {
    color: white;
    font-weight: 800;
    font-family: 'Roboto Slab';
}


.jumbotron h1 span {
  
    font-weight: 300;

}

.jumbotron .my-4 {
    background-color: white;
}

#adventure {
    margin-top: 25px;
    margin-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Roboto Slab';
}

#adventure h2 {
 text-align:left;
 font-size:32px;
 margin-bottom:30px;
}

#adventure p {
    text-align:left;
    font-size:18px;
    margin-bottom:5px;
    
   }

#my-border {
    border: 2px solid #E5E5E5;
    border-radius: 15px;
    padding: 20px;
    background-color: #E5E5E5;
    box-shadow: 5px;
}

#adventure .adventure-card {
background-image: url("../images/adventure-card.png");
background-size:cover ;
height:565px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom:20px;
}

.adventure-card .card-items {
    margin-left:40px;
    margin-right:60px;
    color:white;

}

 .btn-primary {
    background-color:#ff9900;
    border-color: #ff9900;
    border-radius: 0;
}

.blog-pic {
    float: left;
    padding: 20px 20px 20px 20px;
}

/* FOOTER */

input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 10%;
    background-color: #E38683;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #79B6D5;
  }

  footer {
    height: 300px;
    background-color: #5E6872;
    padding: 40px 40px;
    text-decoration: white;
    font-family: 'Roboto Slab';
}

.btn-primary:hover {
    background-color:#c47703;
    border-color: #c47703;
}

.adventure-card .card-items .card-icon {
    width:75%;

}


 h2 .yellow {
    color:#ff9900;
    font-size: 60%;
    display: block;
    font-weight:normal;
}
h4 {
    color:white;
}

/* Location Section */

#locations {
    padding:200px 0px 100px;
    background-image:url("../images/hollywood.png");
    background-repeat: no-repeat;
    background-size: cover;

}

/* CARDS */

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 40px;
    text-align: center;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    border-color: #97D7D8;
    border-width: 3px;
    height: 200px;
    width: 200px;
    text-align: center;
  }


#locations .location-card {

    background-size: 100%;
    height: 450px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-color: #edeaea;
    }

.yosemite {
        background-image: url(../images/yosemite-background.png);  
}

.joshua {
    background-image: url(../images/joshua-background.png);  
}
.sanfran {
    background-image: url(../images/sf-background.png);  
}



#locations .location-card .card-items {
    background-color: white;
    margin: 0px 30px 50px 30px;
    padding:20px;
    
}       


.location-item .card-items h3 {

    font-size:20px;
    width:45%;
    
    
}

.location-item .card-items .heading {
    display:flex;
    justify-content: space-between;
    }


 /* Mailing List     */

#subscribe {

    background-image: url("../images/sf-bridge.png");

    color:white;
    text-align: center;
    background-size: cover;
}

#subscribe h2 {
    margin-bottom:30px;

}

#subscribe p{
    margin-bottom:30px;

}

#subscribe .form-container {
    padding-top: 300px;
    padding-bottom: 300px;


}

#subscribe form {
    display: flex;
    justify-content: center;
}
#subscribe input {
    height:50px;
    border-radius: 0;
    width:60%;
    margin-right:20px !important;
  


}



.back-top {

    padding:30px;
}

.back-top  img {
    transform: rotate(180deg);

}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    text-align-last: center;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    padding: 40px;
    background-color: #79B6D5;
    color: white;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    transform: rotateY(180deg);
  }